.build/
.swiftpm/
local/
secret/
venv/
DerivedData/
.DS_Store
**/*.xcworkspace/xcuserdata/
**/*.xcodeproj/xcuserdata/
.commit-msg
*.db
*.db-journal
*.sqlite
*.sqlite3
*-build.log
*-launch-warnings.log
**/build/
